{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Quick LBO</title>
    <style>
        h2 {
            margin: 25px 25px 15px 0px;
        }
        h3 {
            margin: 25px 25px 15px 0px;
        }
        .msi {
    //        font-size: 70%;
        }
        .line {
            display: inline-block;
            margin: 0 3px 16px 0;
        }
    </style>


    <style type="text/css">
        .typeahead, .tt-query, .tt-hint {
            width: 200px;
        }
        .tt-query {
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        }
        .tt-hint {
            color: #999999;
        }
        .tt-menu {
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            margin-top: 12px;
            padding: 8px 0;
        }
        .tt-suggestion {
            font-size: 16px;  /* Set suggestion dropdown font size*/
            padding: 3px 20px;
            width: 200px;
        }
        .tt-suggestion:hover {
            cursor: pointer;
            background-color: #0097CF;
            color: #FFFFFF;
        }
        .tt-suggestion p {
            margin: 0;
        }
    </style>


  </head>
  <body>

<div class="container">
    <h1>Quick LBO</h1><br>

    {% if user.is_authenticated %}
        <div style="font-size: 14px; margin: 0 15px 0 0;">
            <p align="right">
                Welcome, {{ user }}
            </p>
        </div>
    {% endif %}


    <nav id="menu">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" id="nav-outputs-tab" data-toggle="tab" href="#nav-outputs" role="tab" aria-controls="nav-outputs" aria-selected="false">Outputs</a>
        <a class="nav-item nav-link" id="nav-model-tab" data-toggle="tab" href="#nav-model" role="tab" aria-controls="nav-model" aria-selected="false">Model</a>
        <a class="nav-item nav-link active" id="nav-inputs-tab" data-toggle="tab" href="#nav-inputs" role="tab" aria-controls="nav-inputs" aria-selected="true">Inputs</a>

        {% if user.is_authenticated %}
            <a class="nav-item nav-link ml-auto" id="nav-saved-items-tab" data-toggle="tab" href="#nav-saved-items" role="tab" aria-controls="nav-saved-items" aria-selected="false" onclick="loadSavedItems()">Saved items</a>
            <a class="nav-link ml-1" href="{% url 'logout' %}" aria-selected="false">Log Out</a>
        {% else %}
            <a class="nav-link ml-auto" href="{% url 'signin' %}" aria-selected="false">Login</a>
        {% endif %}

      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade" id="nav-outputs" role="tabpanel" aria-labelledby="nav-outputs-tab">
            <br><h3>Entry price</h3>
            {{show_entry.render|safe}}

            <br><h3>Valuation output</h3>
            {{show_val_output.render|safe}}

            <br><h3>IRR output</h3>
            {{show_irr.render|safe}}
          <br>
      </div>
      <div class="tab-pane fade" id="nav-model" role="tabpanel" aria-labelledby="nav-model-tab">
            <br><h3>Cash flow model</h3>
            {{show_model.render|safe}}

            <br><h3>Balance sheet</h3>
            {{show_bs_output.render|safe}}
          <br>
      </div>
      <div class="tab-pane fade show active" id="nav-inputs" role="tabpanel" aria-labelledby="nav-inputs-tab">
            <form action="{% url 'input' %}" method="POST" style="margin-bottom: 75px;" id="finance_app_input_form">
            {% csrf_token %}

            <h2>Date Assumptions</h2>
                <div class="row">
                      <div class="form-group col-md-4">
                        <label for="acq_close_input">Acquisition Close Date</label>
                        <input name="acq_close_input" type="text" class="form-control" id="acq_close_input" required placeholder="YYYY-MM-DD">
                      </div>

                      <div class="form-group col-md-4">
                        <label for="last_fy_input">Last FY Date</label>
                        <input name="last_fy_input" type="text" class="form-control wm" id="last_fy_input" required placeholder="YYYY-MM-DD">
                      </div>

                      <div class="form-group col-md-4">
                        <label for="no_years_input">Number of Years</label>
                        <select name="no_years_input" class="form-control" id="no_years_input" >
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                        </select>
                      </div>
                </div>

                <h2>Valuation Assumptions</h2>
                <div class="row">
                      <div class="form-group col-md-4">
                        <label for="entry_mult_input">Entry Multiple</label>
                        <input name="entry_mult_input" type="number" step="0.0001" class="form-control" id="entry_mult_input" required>
                      </div>

                      <div class="form-group col-md-4">
                        <label for="entry_ebitda">Entry EBITDA</label>
                        <input name="entry_ebitda" type="number" step="0.0001" class="form-control wm" id="entry_ebitda" required>
                      </div>

                      <div class="form-group col-md-4">
                        <label for="exit_mult_input">Exit Multiple</label>
                        <input name="exit_mult_input" type="number" step="0.0001" class="form-control wm" id="exit_mult_input" required>
                      </div>
                </div>

            <h2>Income and Cash Flow</h2>

                <!--<h3>Depreciation:</h3>-->
                <div class="row">
                    <div class="form-group col-md-4">
                      <label for="deprec_perc_rev_input">Depreciation (% of revenue)</label>
                      <input name="deprec_perc_rev_input" type="number" step="0.0001" class="form-control wm" id="deprec_perc_rev_input" required>
                    </div>
                </div>

                    <h3>Revenue:</h3>
                    <div id="Revenue" class="DOY ">
                    </div>

                    <h3>COGS:</h3>
                    <div id="COGS" class="DOY ">
                    </div>

                    <h3>Operating Expenses:</h3>
                    <div id="Operating_Expenses" class="DOY ">
                    </div>

                    <h3>Capex:</h3>
                    <div id="Capex" class="DOY ">
                    </div>


                <!--<h2>Cash Flow</h2>-->
                <div class="row">
                      <div class="form-group col-md-4">
                        <label for="changenwc_perc_rev_input">Change NWC (% of revenue)</label>
                        <input name="changenwc_perc_rev_input" type="number"  step="0.0001" class="form-control" id="changenwc_perc_rev_input" required>
                      </div>
                </div>


                <h2>Debt Assumptions</h2>
                    <div class="row">
                          <div class="form-group col-md-4">
                            <label for="leverage_ebitda">Leverage Multiple</label>
                            <input name="leverage_ebitda" type="number" step="0.0001" class="form-control" id="leverage_ebitda" required>
                          </div>

                          <div class="form-group col-md-4">
                            <label for="interest_rate_input">Interest Rate</label>
                            <input name="interest_rate_input" type="number" step="0.0001" class="form-control" id="interest_rate_input" required>
                          </div>

                          <div class="form-group col-md-4">
                            <label for="start_revolver_input">Revolver Size</label>
                            <input name="start_revolver_input" type="number" step="0.0001" class="form-control" id="start_revolver_input" required>
                          </div>
                    </div>

            <h2>Scheduled Debt Amortisation(%)</h2>
                <div id="amort_sched_input" class="DOY ">
                </div>

            <!--<h2>Balance Sheet</h2>-->
                <div class="row">
                    <div class="form-group col-md-4">
                        <div class="form-group">
                            <label for="start_cash_input">Start Cash</label>
                            <input name="start_cash_input" type="number" step="0.0001" class="form-control" id="start_cash_input" required>
                        </div>
                    </div>
                </div>




                <div class="row">
                    <div class="col-sm-3">
                      <button type="submit" class="btn btn-primary wm" style="margin-bottom: 15px;">Calculate</button>
                    </div>


                    <div class="col-sm-9">
                            <div class="form-inline">
                                <div class="input-group">
                                    <div id="div_contains_model_select">
                                        <input id="id_input_item_title" type="text" class="typeahead tt-query form-control" autocomplete="off" spellcheck="false" placeholder="Model name">
                                    </div>
                                        <!--<input name="input_item_title" type="text" id="id_input_item_title" class="form-control" placeholder="Type title">-->
                                        <button class="btn btn-success" id="button-save" style="margin-left: 10px;">Save As</button>
                                </div>

                                {% if user.is_authenticated %}
                                <!--<div class="input-group">-->
                                  <!--<select name="InputDB" class="custom-select" id="IdInputDB">-->
                                    <!--<option selected value="-1">Choose Saved Model</option>-->
                                      {% for inputDBItem in inputDBList %}
                                            <!--<option value="{{ inputDBItem.id }}">{{inputDBItem.title}}</option>-->
                                      {% endfor %}
                                  <!--</select>-->
                                    <!--<button class="btn btn-warning" id="button-update">Update existing</button>-->
                                <!--</div>-->
                                {% endif %}
                            </div>
                    </div>
                </div>

            </form>
      </div>

      {% if user.is_authenticated %}
      <div class="tab-pane fade" id="nav-saved-items" role="tabpanel" aria-labelledby="nav-saved-items-tab">
          <br>
          <ul class="list-group" id="idItemlist">
              {% for inputDBItem in inputDBList %}
              <li class="list-group-item d-flex justify-content-between align-items-center" id="inputDBItem_id_{{inputDBItem.id}}">
                  {{inputDBItem.title}}
                  <span>
                      <p>text</p>
                      <button type="button" class="btn btn-success" onclick="loadItem({{ inputDBItem.id }})">Load</button>
                      <button type="button" class="btn btn-danger" onclick="deleteItem({{ inputDBItem.id }})">Delete</button>
                  </span>
              </li>
              {% endfor %}
            </ul>
      </div>
      {% endif %}

    </div>


    <div id="bottom_message">
    </div>

    <div id="bottom_fixed_message" style="  position: fixed; bottom: 0px;">
    </div>



</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



    <script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js" crossorigin="anonymous"></script>


    <script src="{% static 'cleave.min.js' %}"></script>
    <script>

        //for search models in select
        var substringMatcher = function(strs) {
          return function findMatches(q, cb) {
            var matches, substringRegex;
            matches = [];

            substrRegex = new RegExp(q, 'i');

            $.each(strs, function(i, str) {
              if (substrRegex.test(str)) {
                matches.push(str);
              }
            });

            cb(matches);
          };
        };


        var user_models = {}; //{'model_title': id, ...}
            {% if user.is_authenticated %}
                  {% for inputDBItem in inputDBList %}
                        user_models["{{inputDBItem.title}}"] = {{ inputDBItem.id }};
                  {% endfor %}
            {% endif %}

        var user_model_array = Object.keys(user_models);




        function updateModelsInSelect(){
            var typeahead_select = '<input id="id_input_item_title" type="text" class="typeahead tt-query form-control" autocomplete="off" spellcheck="false" placeholder="Model name">'

            $('#div_contains_model_select').html("");
            $('#div_contains_model_select').html( typeahead_select );

            $('.typeahead').typeahead({
              hint: true,
              highlight: true,
              minLength: 0
            },
            {
              limit: 1500,
              name: 'user_model_array',
              source: substringMatcher(user_model_array)
            });
        };

        updateModelsInSelect();




        let default_data = {
            'number_years_input': 5,
            'acq_close_input': '2018-06-30',
            'last_fy_input': '2018-06-30',
            'no_years_input': "5",
            'entry_mult_input': 9,
            'entry_ebitda': 15,
            'exit_mult_input': 9,
            'changenwc_perc_rev_input': 0.04,
            'leverage_ebitda': 4,
            'interest_rate_input': 0.045,
            'start_revolver_input': 75,
            'start_cash_input': 50,
            'deprec_perc_rev_input': 0.04,
            'revenue_input': [100.00,120.00,150.00,170.00,200.00],
            'cogs_input': [20.00,22.00,25.00,30.00,32.00],
            'opex_input': [50.00,50.00,60.00,65.00,70.00],
            'capex_input': [20.00,20.00,20.00,20.00,20.00],
            'amort_sched_input': [0.2,0.2,0.2,0.2,0.2],
        };

        var date1 =  new Cleave('#acq_close_input', {
            date: true,
            delimiter: '-',
            datePattern: ['Y', 'm', 'd']
        });

        var date2 =  new Cleave('#last_fy_input', {
            date: true,
            delimiter: '-',
            datePattern: ['Y', 'm', 'd']
        });

        var number_of_years = 5;


        {% if is_output %}
            $('#nav-outputs-tab').tab('show')
            set_input_value(JSON.parse(sessionStorage.getItem('fa_input_form')));
        {% else %}
            if (sessionStorage.getItem('fa_input_form') != null)
            {
                set_input_value(JSON.parse(sessionStorage.getItem('fa_input_form')));
            }else
            {
                set_input_value(default_data);
            }
        {% endif %}

        console.log(JSON.parse(sessionStorage.getItem('fa_input_form')));

        const $inputForm = $('#finance_app_input_form');
        $inputForm.on('submit', function (e) {
            e.preventDefault();

            var unindexed_array = $inputForm.serializeArray();
            var data = {};
            $.map(unindexed_array, function (n, i) {
                data[n['name']] = n['value'];
            });
            delete data['csrfmiddlewaretoken'];
            sessionStorage.setItem('fa_input_form', JSON.stringify(data));
            this.submit();
        });


        $('#no_years_input').on('change', function() {
            number_of_years = parseInt(this.value);
            set_number_years_input(number_of_years);
        });


        //legacy version. New: set_input_value(default_data);
        //set_default_value();


        function set_default_value() {
            $('#acq_close_input').val('2018-06-30');
            $('#last_fy_input').val('2018-06-30');
            $('#no_years_input').val("5");

            $('#entry_mult_input').val(9);
            $('#entry_ebitda').val(15);
            $('#exit_mult_input').val(9);

            $('#changenwc_perc_rev_input').val(0.04);

            $('#leverage_ebitda').val(4);
            $('#interest_rate_input').val(0.045);
            $('#start_revolver_input').val(75);

            $('#start_cash_input').val(50);

            $('#deprec_perc_rev_input').val(0.04);

            var list_data = {
                revenue_input: [100.00,120.00,150.00,170.00,200.00],
                cogs_input: [20.00,22.00,25.00,30.00,32.00],
                opex_input: [50.00,50.00,60.00,65.00,70.00],
                capex_input: [20.00,20.00,20.00,20.00,20.00],
                amort_sched_input: [0.2,0.2,0.2,0.2,0.2],
            };

            for (i = 1; i<=5; i++)
            {
                Object.keys(list_data).forEach(function(element) {
                var input_id = element + '_year_' + i;
                    $('#' + input_id).val(list_data[element][i-1]);
                });
            };
        };

        function set_input_value(input_data) {
            var no_years = input_data['no_years_input'];
            set_number_years_input(no_years);

            Object.keys(input_data).forEach(function(key) {
                if (typeof input_data[key] === 'string' || typeof input_data[key] === 'number' ){
                    $('#' + key).val(input_data[key]);
                }
                if (typeof input_data[key] === 'object' && !isNaN(parseInt(no_years)) ){
                    for (i = 1; i<=parseInt(no_years); i++)
                    {
                        var input_id = key + '_year_' + i;
                        $('#' + input_id).val(input_data[key][i-1]);
                    };
                }
            });
        };

        function set_number_years_input(n) {

            $( ".DOY" ).html("");
            for (i = 1; i<=n; i++)
            {

                var revenue = '<div class="form-group line">'+
                                '<label for="revenue_input_year_' + i + '">Year ' + i +'</label>'+
                                '<input name="revenue_input_year_' + i + '" type="number" step="0.0001" class="msi form-control" id="revenue_input_year_' + i + '" required>'+
                               '</div>';
                var COGS = '<div class="form-group line">'+
                                '<label for="cogs_input_year_' + i + '">Year ' + i +'</label>'+
                                '<input name="cogs_input_year_' + i + '" type="number" step="0.0001" class="msi form-control" id="cogs_input_year_' + i + '" required>'+
                               '</div>';
                var OperatingExpenses = '<div class="form-group line">'+
                                '<label for="opex_input_year_' + i + '">Year ' + i +'</label>'+
                                '<input name="opex_input_year_' + i + '" type="number" step="0.0001" class="msi form-control" id="opex_input_year_' + i + '" required>'+
                               '</div>';
                /*var Depreciation = '<div class="form-group line">'+-->
                                <!--'<label for="Depreciation_year_' + i + '">Year ' + i +'</label>'+-->
                                <!--'<input name="Depreciation_year_' + i + '" type="number" step="0.0001" class="msi form-control" id="Depreciation_year_' + i + '" required>'+-->
                               <!--'</div>';*/
                var Capex = '<div class="form-group line">'+
                                '<label for="capex_input_year_' + i + '">Year ' + i +'</label>'+
                                '<input name="capex_input_year_' + i + '" type="number" step="0.0001" class="msi form-control" id="capex_input_year_' + i + '" required>'+
                               '</div>';
                var amort_sched_input = '<div class="form-group line">'+
                                '<label for="amort_sched_input_year_' + i + '">Year ' + i +'</label>'+
                                '<input name="amort_sched_input_year_' + i + '" type="number" step="0.0001" class="msi form-control" id="amort_sched_input_year_' + i + '" required style="width: ' + year_input_width + 'px;">'+
                               '</div>';

                $( "#Revenue" ).append( revenue );
                $( "#COGS" ).append( COGS );
                $( "#Operating_Expenses" ).append( OperatingExpenses );
//                $( "#Depreciation" ).append( Depreciation );
                $( "#Capex" ).append( Capex );
                $( "#amort_sched_input" ).append( amort_sched_input );
            }
        };


        var year_input_width = calculate_year_input_width();
        $(".msi").css("width", year_input_width + "px");

        $( window ).resize(function() {
            year_input_width = calculate_year_input_width();
            $(".msi").css("width", year_input_width + "px");
        });

        function calculate_year_input_width() {
            var width = $('.container').width();
            result = Math.round( 0.95 * width / number_of_years );
            return result;
        }




        function loadSavedItems() {
            $.ajax({
            data: {
              'id': 'empty',
            },
            dataType: 'json',
            url: '{% url "load_inputDB_list" %}',
            success: function (data) {
                if (data.status == 'ok')
                {
                    var newItemList = '<ul class="list-group" id="idItemlist">';
                    data.item_list.forEach(function(item) {
                        var singleItem = '' +
                              '<li class="list-group-item d-flex justify-content-between align-items-center" id="inputDBItem_id_' + item.id + '">' +
                                  item.title +
                                  '<span>' +
//                                      '<span>Created: ' + item.created + '&nbsp;&nbsp;</span>'+
                                      '<span>' + item.updated + '&nbsp;&nbsp;&nbsp;</span>'+
                                      '<button type="button" class="btn btn-success" onclick="loadItem(' + item.id + ')">Load</button>' +
                                      '<span>&nbsp;&nbsp;</span>'+
                                      '<button type="button" class="btn btn-danger" onclick="deleteItem(' + item.id + ')">Delete</button>' +
                                  '</span>' +
                              '</li>';
                        newItemList += singleItem;
                    });
                    newItemList += '</ul>';

                    $('#idItemlist').remove();
                    $('#nav-saved-items').append( newItemList );
                }else{
                    addAlertMessage('danger', data.error);
                }
            }
            });
        }

        function loadItem(id) {
            $.ajax({
            url: '{% url "load_inputDB" %}',
            data: {
              'id': id,
            },
            dataType: 'json',
            success: function (data) {
                if (data.status == 'ok')
                {

                    sessionStorage.setItem('fa_input_form', data.data);
                    set_input_value(JSON.parse( data.data ));

                    //open tab 'Inputs'
                    $('.nav-tabs a[href="#nav-inputs"]').tab('show');
                    //set default id_input_item_title text
                    $('#id_input_item_title')[0].value = data.title;

                    //add message success
                    var message = 'Item ' + '<strong>' + data.title + '</strong>' + ' successfully loaded';
                    addAlertMessage('success', message);
                }else{
                    addAlertMessage('danger', data.error);
                }
            }
            });
        }

        function deleteItem(id) {
            $.ajax({
            url: '{% url "delete_inputDB" %}',
            data: {
              'id': id,
            },
            dataType: 'json',
            success: function (data) {
                if (data.status == 'ok')
                {
                    // delete from list
                    $('#inputDBItem_id_' + id).remove();
                }else{
                    addAlertMessage('danger', data.error);
                }
            }
            });
        }


        $( "#button-save" ).click(function(event) {
            //saveInputItem(event); //legacy version for save in case functionality for update exist
            saveOrUpdateInputItem(event); //new version
        });

        function saveOrUpdateInputItem(event) {
            event.preventDefault();

        {% if user.is_authenticated %}

            var input_title = $('#id_input_item_title')[0].value;
            var model_id = user_models[input_title] || '';

            if (input_title != '')
            {
                //prepare to save
                var unindexed_array = $inputForm.serializeArray();
                var data = {};
                $.map(unindexed_array, function (n, i) {
                    data[n['name']] = n['value'];
                });
                delete data['csrfmiddlewaretoken'];
                delete data['input_item_title'];
                delete data['IdInputDB'];

                var json_data = JSON.stringify(data);
                sessionStorage.setItem('fa_input_form', json_data);
                //end prepare to save

                if(model_id != '')
                {
                    //update by id
                    if ($('#IdInputDB').val() != '-1')
                    {
                        $.ajax({
                        url: '{% url "update_inputDB" %}',
                        data: {
                          'data': json_data,
                          'id': model_id
                        },
                        dataType: 'json',
                        success: function (data) {
                            if (data.status == 'ok')
                            {
                                //add message success
                                var message = 'Item ' + '<strong>' + data.title + '</strong>' +' successfully updated';
                                addAlertMessage('success', message);
                            }else{
                                addAlertMessage('danger', data.error);
                            }
                        }
                        });
                    }else{
                        var message = 'Model not chosen';
                        addAlertMessage('danger', message);
                    }
                    //end update by id
                }else{
                    //save new
                    $.ajax({
                    url: '{% url "save_inputDB" %}',
                    data: {
                      'data': json_data,
                      'title': input_title
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.status == 'ok')
                        {
                            //update option list in select
                            user_models[data.title] = data.id;
                            user_model_array = Object.keys(user_models);
                            updateModelsInSelect();
                            $('#id_input_item_title')[0].value = data.title;

                            //add message success
                            var message = 'Item ' + '<strong>' + data.title + '</strong>' + ' successfully created';
                            addAlertMessage('success', message);
                        }else{
                            addAlertMessage('danger', data.error);
                        }
                    }
                    });
                    //end save new
                }
            }else{
                var message = 'Model title is empty';
                addAlertMessage('danger', message);
            }
        {% else %}
              addAlertMessage('danger', 'Please login to save model');
        {% endif %}
        }


        function saveInputItem(event) {
            event.preventDefault();

        {% if user.is_authenticated %}
            if ($('#id_input_item_title').val() != '')
            {
                var unindexed_array = $inputForm.serializeArray();
                var data = {};
                $.map(unindexed_array, function (n, i) {
                    data[n['name']] = n['value'];
                });
                delete data['csrfmiddlewaretoken'];
                delete data['input_item_title'];
                delete data['IdInputDB'];

                var json_data = JSON.stringify(data);
                sessionStorage.setItem('fa_input_form', JSON.stringify(data));

                $.ajax({
                url: '{% url "save_inputDB" %}',
                data: {
                  'data': json_data,
                  'title': $('#id_input_item_title').val()
                },
                dataType: 'json',
                success: function (data) {
                    if (data.status == 'ok')
                    {
                        $('#IdInputDB').append($('<option>', {
                            value: data.id,
                            text: data.title
                        }));

                        //add messege seccess

                        var message = 'Item ' + '<strong>' + data.title + '</strong>' + ' successfully created';
                        addAlertMessage('success', message);

                    }else{
                        addAlertMessage('danger', data.error);
                    }
                }
                });
            }else{
                var message = 'Model title is empty';
                addAlertMessage('danger', message);
            }
        {% else %}
              addAlertMessage('danger', 'Please login to save model');
        {% endif %}
        }


        $( "#button-update" ).click(function(event) {
            updateInputItem(event);
        });

        function updateInputItem(event) {
            event.preventDefault();

            if ($('#IdInputDB').val() != '-1')
            {
                var unindexed_array = $inputForm.serializeArray();
                var data = {};
                $.map(unindexed_array, function (n, i) {
                    data[n['name']] = n['value'];
                });
                delete data['csrfmiddlewaretoken'];
                delete data['input_item_title'];
                delete data['IdInputDB'];


                var json_data = JSON.stringify(data);
                sessionStorage.setItem('fa_input_form', JSON.stringify(json_data));

                $.ajax({
                url: '{% url "update_inputDB" %}',
                data: {
                  'data': json_data,
                  'id': $('#IdInputDB').val()
                },
                dataType: 'json',
                success: function (data) {
                    if (data.status == 'ok')
                    {
                        //add messege seccess
                        var message = 'Item ' + '<strong>' + data.title + '</strong>' +' successfully updated';
                        addAlertMessage('success', message);
                    }else{
                        addAlertMessage('danger', data.error);
                    }
                }
                });
            }else{
                var message = 'Model not chosen';
                addAlertMessage('danger', message);
            }
        }


        function addAlertMessage(type, message) {
            // type only success or danger
            var alert_type = "success";
            if (type == "danger"){alert_type = type};

            var message_box = '<div class="alert alert-' + alert_type + '">'+
                    '<a class="close" href="#" data-dismiss="alert">×</a>'+
                        message +
                    '</div>';

            $('#bottom_message').append( message_box );
//            $('#bottom_fixed_message').append( message_box );
            setTimeout(removeAllAlert, 5000);
            scrollDown();
        }


        //Auto Close Alert
        function removeAllAlert() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove();
            });
        }


        function scrollDown(){
            window.scrollTo(0, 10000);
        };

    </script>

  </body>
</html>